a, a:visited, a:active {
    color: #444;
}

h4 {
    margin: 0px 0px;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 8px;
    font-family: 'Libre Franklin Thin', sans-serif;
}

.yearHead {
    font-family: "Libre Franklin Thin", sans-serf;
    font-weight: bold;
}

.container {
    max-width: 900px;
    margin: auto;
    font-size: 18;
    font-family: "Libre Franklin Thin", sans-serif
}

.button {
    min-width: 130px;
    padding: 4px 5px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    text-decoration: none;
}

.button.active {
    background: #000;
    color: #fff;
}

.button:hover {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #000;
    box-shadow: 0 10px 12px 0 rgba(0,0,0,0.12), 0 17px 50px 0 rgba(0,0,0,0.08);
    font-weight: bold
}

#vis {
    width: 1200px;
    height: 600px;
    clear: both;
    margin-bottom: 0px;
}

#toolbar {
    margin-top: 10px;
}

.year {
    font-size: 18px;
    fill: #000;
    cursor: default;
    font-family: "Libre Franklin Thin", sans-serif;
    text-align: center
}

.tooltip {
    position: absolute;
    top: 100px;
    left: 100px;
-moz-border-radius:5px;
    border-radius: 5px;
border: 2px solid #000;
background: #fff;
    opacity: .9;
color: black;
    padding: 10px;
    width: 300px;
    font-size: 12px;
    z-index: 10;
}

.tooltip .title {
    font-size: 13px;
}

.tooltip .name {
    font-weight:bold;
}

.bub-legend { 
    list-style: none; 
    margin: 0px 0px 0px 0px;
}

.bub-legend li { 
    float: right; 
    margin-right: 10px;
    font-family: 'Libre Franklin Light', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    display: inline;
}

.bub-legend span { 
    float: left; 
    width: 14px; 
    height: 14px; 
    margin: 1px 6px;
    border-radius: 50%
}

.bub-legend .thirdblock {
    background-color: #3b4994; 
    border: 1px solid #000;
}

.bub-legend .secondblock { 
    background-color: #be64ac; 
    border: 1px solid #000;
}

.bub-legend .firstblock { 
    background-color: #5ac8c8; 
    border: 1px solid #000;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
