h1 {
    font-family: "Lora", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 5px
}

h5 {
    font-family: "Libre Franklin Thin", sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 50px
}

h6 {
    font-family: "Libre Franklin Thin", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 0px 82.5px;
    padding-bottom: 20px
}

h7 {
    font-family: "Libre Franklin Thin", sans-serif;
    font-size: 14px;
    margin: 0px 82.5px;
    padding-bottom: 10px
}

.content-container {
    max-width: 1050px;
    margin: 0 auto;
}

.title-container {
    max-width: 650px;
    margin: 0 auto;
}

.chart-source {
    font-family: "Libre Franklin Thin"
}
